In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import os

In [4]:
#main files
doses_df = pd.read_csv('ecotox_ascii_09_14_2023/doses.txt', sep='|')
carriers_df = pd.read_csv('ecotox_ascii_09_14_2023/chemical_carriers.txt', sep='|')
details_df = pd.read_csv('ecotox_ascii_09_14_2023/dose_response_details.txt', sep='|')
links_df = pd.read_csv('ecotox_ascii_09_14_2023/dose_response_links.txt', sep='|')
responses_df = pd.read_csv('ecotox_ascii_09_14_2023/dose_responses.txt', sep='|')
tests_df = pd.read_csv('ecotox_ascii_09_14_2023/tests.txt', sep='|',encoding_errors='ignore')
            
                
#linked files
chemicals_df = pd.read_csv('ecotox_ascii_09_14_2023/validation/chemicals.txt', sep='|', encoding_errors='ignore')
frequency_codes_df = pd.read_csv('ecotox_ascii_09_14_2023/validation/application_frequency_codes.txt', sep='|')
#application_codes_df = pd.read_csv('ecotox_ascii_09_14_2023/validation/application_type_codes.txt', sep='|')
chemical_analysis_codes_df = pd.read_csv('ecotox_ascii_09_14_2023/validation/chemical_analysis_codes.txt', sep='|')
formulation_codes_df = pd.read_csv('ecotox_ascii_09_14_2023/validation/chemical_formulation_codes.txt', sep='|')
grade_codes_df = pd.read_csv('ecotox_ascii_09_14_2023/validation/chemical_grade_codes.txt', sep='|')
concentration_type_codes_df = pd.read_csv('ecotox_ascii_09_14_2023/validation/concentration_type_codes.txt', sep='|')
concentration_unit_codes_df = pd.read_csv('ecotox_ascii_09_14_2023/validation/concentration_unit_codes.txt', sep='|')
dose_methods_codes_df = pd.read_csv('ecotox_ascii_09_14_2023/validation/dose_stat_method_codes.txt', sep='|')
duration_codes_df = pd.read_csv('ecotox_ascii_09_14_2023/validation/duration_unit_codes.txt', sep='|')
effect_codes_df = pd.read_csv('ecotox_ascii_09_14_2023/validation/effect_codes.txt', sep='|')
endpoint_assigned_codes_df = pd.read_csv('ecotox_ascii_09_14_2023/validation/endpoint_assigned_codes.txt', sep='|')
endpoint_codes_df = pd.read_csv('ecotox_ascii_09_14_2023/validation/endpoint_codes.txt', sep='|')
exposure_types_codes_df = pd.read_csv('ecotox_ascii_09_14_2023/validation/exposure_type_codes.txt', sep='|', encoding_errors='ignore')
field_study_types_codes_df = pd.read_csv('ecotox_ascii_09_14_2023/validation/field_study_type_codes.txt', sep='|')
measurement_codes_df = pd.read_csv('ecotox_ascii_09_14_2023/validation/measurement_codes.txt', sep='|', encoding_errors='ignore')


#endpoint is result of study - born alive/dead
#CAS chemical analysis codes is chemical code

/var/folders/v1/ymptnwwx3x1b7_mw0nns09wr0000gn/T/ipykernel_43159/2289047462.py:2: DtypeWarning: Columns (6,8,10,13,15,17,21,22,23,24,25,26,27,28,29,30,32,33,34,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  doses_df = pd.read_csv('ecotox_ascii_09_14_2023/doses.txt', sep='|')
/var/folders/v1/ymptnwwx3x1b7_mw0nns09wr0000gn/T/ipykernel_43159/2289047462.py:3: DtypeWarning: Columns (6,11) have mixed types. Specify dtype option on import or set low_memory=False.
  carriers_df = pd.read_csv('ecotox_ascii_09_14_2023/chemical_carriers.txt', sep='|')
/var/folders/v1/ymptnwwx3x1b7_mw0nns09wr0000gn/T/ipykernel_43159/2289047462.py:4: DtypeWarning: Columns (3,5,7,12,13,21,23,25,27,29,37,45) have mixed types. Specify dtype option on import or set low_memory=False.
  details_df = pd.read_csv('ecotox_ascii_09_14_2023/dose_response_details.txt', sep='|')
/var/folders/v1/ymptnwwx3x1b7_mw0nns09wr0000gn/T/ipykernel_43159/2289047462.py:7: DtypeWarning: Columns (4,6,8,9,10,11,13,15,20,22,23,25,27,30,32,34,37,38,39,40,41,42,45,48,49,50,51,53,56,57,58,59,61,64,66,68,70,72,74,76,78,79,81,83,85,86,87,89,91,94,96,100,102,104,106,107,109,111,114,116,119,126) have mixed types. Specify dtype option on import or set low_memory=False.
  tests_df = pd.read_csv('ecotox_ascii_09_14_2023/tests.txt', sep='|',encoding_errors='ignore')

In [21]:
responses_df.head()
#cat responses_df[test_id, effect_code, response_unit], tests_df[test_id, test_CAS]
#cat outer join to LCMS

,dose_resp_id,test_id,sample_size_unit,sample_size_comments,effect_code,measurement_code,measurement_comments,response_site,response_site_comments,obs_duration_mean_op,obs_duration_mean,obs_duration_min_op,obs_duration_min,obs_duration_max_op,obs_duration_max,obs_duration_unit,obs_duration_comments,response_unit,response_comments,additional_comments
0,1,1,ML,NaN,ENZ,ATRP,NaN,PL,NaN,NaN,15,NaN,NR,NaN,NR,d,NaN,IU/L,NaN,NaN
1,2,1,ML,NaN,ENZ,GGTR,NaN,PL,NaN,NaN,15,NaN,NR,NaN,NR,d,NaN,IU/L,NaN,NaN
2,3,1,ML,NaN,HRM,TSTR,NaN,PL,NaN,NaN,15,NaN,NR,NaN,NR,d,NaN,ng/ml,NaN,NaN
3,4,2,ML,NaN,ENZ,BCOD,NaN,LI,NaN,NaN,4,NaN,NR,NaN,NR,d,NaN,umol/mg/mi,NaN,NaN
4,5,2,ML,NaN,ENZ,BROD,NaN,LI,NaN,NaN,4,NaN,NR,NaN,NR,d,NaN,pmol/mg/mi,NaN,NaN

In [23]:
print(responses_df['measurement_comments'].unique())

[nan '/' 'ECTOMYCORRHIZAL' 'NON-ECTOMYCORRHIZAL' 'NON-MYCORRHIZAL'
 'PERCENT COLONIZATION']

In [31]:
chemicals_df.head()

,cas_number,chemical_name,ecotox_group,dtxsid
0,50000,Formaldehyde,NaN,DTXSID7020637
1,50011,Guanidine monohydrochloride,NaN,DTXSID7058757
2,50022,"11beta,16alpha-9-Fluoro-11,17,21-Trihydroxy-16...",Pharmaceutical Personal Care Products (PPCPs),DTXSID3020384
3,50033,"(11beta)-21-Acetyloxy)-11,17-dihydroxypregn-4-...",NaN,DTXSID0048686
4,50044,"17-Hydroxy-3,11,20-trioxopregn-4-en-21-yl acetate",NaN,DTXSID0022858

In [37]:
effect_codes_df.head()

  code   description
0   --   Unspecified
1  ACC  Accumulation
2  AVO     Avoidance
3  BCM  Biochemistry
4  BEH      Behavior

In [ ]:
#TEST ID -> CAS Number 
#TEST ID -> RESULT ID

In [5]:
tests_df.head()

,test_id,reference_number,test_cas,test_grade,test_grade_comments,test_formulation,test_formulation_comments,test_radiolabel,test_radiolabel_comments,test_purity_mean_op,...,halflife_min_op,halflife_min,halflife_max_op,halflife_max,halflife_unit,halflife_comments,additional_comments,created_date,modified_date,published_date
0,1,35000,1336363,R,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
1,2,35000,1336363,R,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
2,3,35001,2385855,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
3,4,35002,7631994,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,04/06/2021,06/15/2021
4,5,35002,7631994,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,04/06/2021,06/15/2021

In [15]:
tests_subset = tests_df[['test_id','test_cas']]
responses_subset = responses_df[['test_id','effect_code','response_unit']]

714796

In [19]:
test_responses = pd.merge(tests_subset,responses_subset,on='test_id',how='outer')

In [21]:
print(790262-714796)
print(test_responses['test_id'].unique())
#drop nan cas at end of dataframe in test_responses
#put LCMS codes from pesticides in list
#subset test_responses to only pesticides
#find which responses are still Nan for different pesticides
#assign research based on Nan values
#get more data
#hypotheses and submit to zhou
#lit review
#video
#run models based on pesticide data to finish up group project and get conclusions

75466
[    1     2     3 ... 39418 39422 43612]